# Calculate the cube of all numbers from 1 to a given number

In [8]:
a = int(input("Enter any number"))
cubes = []

for i in range(1, a+1):
    cube = i*i*i
    cubes.append(cube)

print(cubes)

Enter any number6
[1, 8, 27, 64, 125, 216]

# Create Function to Find the sum of the number upto n

In [9]:
def s(n):
    t_sum = 0
    for i in range(1,n+1):
        t_sum += i
    return t_sum

s(10)

55

# Create a function to print star pattern

In [11]:
def star(n):
    for i in range(1,n+1):
        print("*" *i)
    
star(5)

*
**
***
****
*****

# Write function to Remove vowel only

In [9]:
def remove_v(inp):
    vowels = "aeiouAEIOU"
    result_string = ""

    for char in inp:
        if char not in vowels:
            result_string += char

    return result_string

inp = str(input("Enter the string:"))
result = remove_v(inp)
print("Output:",result)

Enter the string:aeiou
Output:

# creat a list of 1 to 20 number using for loop

In [11]:
numbers_list = []

for i in range(1, 21):
    numbers_list.append(i)

print(numbers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# create a  list of 20 to 1 value using  for loop without reverse

In [17]:
numbers_list = []

for i in range(20, 0, -1):
    numbers_list.append(i)

print(numbers_list)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Cube of odd values between 20 to 40

In [20]:
odd=[]
for i in range(20,41):
    if(i/2!=0):
        odd.append(i**3)
print(odd)

[8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000]

# take 5 freinds name in list

In [23]:
names = ["Shreyas","Ashish","Prasad","Mayur"]
ages = [21,22,22,22]
for i in range(len(names)):
    name = names[i]
    age = ages[i]
    print("My name is:",name,"and my age is:",age)

My name is: Shreyas and my age is: 21
My name is: Ashish and my age is: 22
My name is: Prasad and my age is: 22
My name is: Mayur and my age is: 22

# Given a list, write a Python code  to swap first and last element of the list.

In [29]:
l = list(input("Enter the numbers"))

if len(l) >= 2:
    l[0], l[-1] = l[-1], l[0]

print(l)

Enter the numbers123
['3', '2', '1']

# write code count lenght of string

In [31]:
l = str(input("Enter the string:"))
i = len(l)
print(i)

Enter the string:shreyass
8

# Write a Python program to get the sum of a only non-negative integer.

In [15]:
a = input("Enter the numbers:")
l = a.split()
b = 0
for num in l:
    if int(num) >= 0:
        b += int(num)

print(b)

Enter the numbers:3 55 -77 0 55
113

# write code for factorial

In [18]:
a = int(input("Enter a number: "))

if(a < 0):
    print("Factorial is not defined for negative numbers.")
else:
    factorial = 1
    for i in range(1, a + 1):
        factorial *= i

    print("The factorial of",a ,"is" ,factorial)

Enter a number: 5
The factorial of 5 is 120